		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">Les tueurs de Mouches</h1>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<p class="text-justify">Bienvenue ami(e)s gardiens.</br>Dans notre clan tous les modes de jeux sont explorés. Les raids ont été fait de fond en comble et ils n'ont plus de secret pour nous
					.
						
					</p>
				</div>
			</div>
		</div>
		<h2 id="fondateur">Fondateur</h2>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
						<ul>
							<li>thalion26 <p class ="text-justify">Persos: Arcansite 32, Chasseur 32, Titan 32.</p></li>
						</ul>
				</div>
			</div>
		</div>
		<h2 id="administrateur">Administrateurs</h2>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<ul>
				        <li>Drag0_0 <p class ="text-justify">Persos: Arcansite 32, Chasseur 32, Titan 32.</p>
						</li>
				        <li>Damien93100 <p class ="text-justify">Persos: Arcansite 32, Chasseur 32, Titan 32.</p>
						</li>
				        <li>chibbydevil <p class ="text-justify">Persos: Arcansite 32, Chasseur 32, Titan 32.</p>
						</li>
				        <li>Nico597573 <p class ="text-justify">Persos: Arcansite 32, Chasseur 32, Titan 32.</p>
						</li>
			       </ul>						
				</div>
			</div>
		</div>
		<h2 id="membres">Les Membres</h2>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<ul>
				        <li>Cadril <p class ="text-justify">Persos: Arcansite 26, Chasseur 32, Titan 31.</p>
						</li>
				        <li>Hot DX <p class ="text-justify">Persos: Arcansite 32, Chasseur 30, Titan 30.</p>
						</li>
				        <li>D3rKaD0r <p class ="text-justify">Persos: Arcansite 31, Chasseur 32, Titan 32.</p>
						</li>
				        <li>fighterPGM <p class ="text-justify">Persos: Arcansite 32, Chasseur 28, Titan 30.</p>
						</li>
				        <li>LESCRO51 <p class ="text-justify">Persos: Arcansite 32, Chasseur 32, Titan 32.</p>
						</li>
				        <li>fuzzbass <p class ="text-justify">Persos: Arcansite 32, Titan 29.</p>
						</li>
			         </ul>
				</div>
			</div>
		</div>