@font-face {
    font-family: 'Montserrat';
    src: url('font/montserrat/montserrat-webfont.eot');
    src: url('font/montserrat/montserrat-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat/montserrat-webfont.woff2') format('woff2'),
         url('font/montserrat/montserrat-webfont.woff') format('woff'),
         url('font/montserrat/montserrat.ttf') format('truetype'),
         url('font/montserrat/montserrat-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('font/open-sans/opensans-webfont.eot');
    src: url('font/open-sans/opensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/open-sans/opensans-webfont.woff2') format('woff2'),
         url('font/open-sans/opensans-webfont.woff') format('woff'),
         url('font/open-sans/opensans.ttf') format('truetype'),
         url('font/open-sans/opensans-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('font/oswald/oswald-webfont.eot');
    src: url('font/oswald/oswald-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/oswald/oswald-webfont.woff2') format('woff2'),
         url('font/oswald/oswald-webfont.woff') format('woff'),
         url('font/oswald/oswald.ttf') format('truetype'),
         url('font/oswald/oswald-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('font/raleway/raleway-webfont.eot');
    src: url('font/raleway/raleway-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway/raleway-webfont.woff2') format('woff2'),
         url('font/raleway/raleway-webfont.woff') format('woff'),
         url('font/raleway/raleway.ttf') format('truetype'),
         url('font/raleway/raleway-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 70px 0 0 0;
  color: rgb(236, 240, 241); 
  background:url(destiny_fond.jpg);
  background-color: black;
  background-attachment:fixed; 
}

.tchat-app {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  min-height: 100%;
}
.tchat-add {
  display: flex;
  float: left;
  width: 100%;
  height: 4em;
  padding: 0 1%;
  -webkit-align-items: center;
  align-items: center;
}
.add {
  display: block;
  float: left;
  width: 100%;
  height: 3em;
}
.input-name {
  display: block;
  float: left;
  width: 20%;
  height: 3em;
  padding: 0 1%;
  line-height: 3em;
  font-size: 1em;
  font-family: Oswald;
  overflow-y: hidden;
  border: solid 1px rgba(0,0,0,0.25);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  resize: none;
  color: black;
}
.input-message {
  display: block;
  float: left;
  width: 70%;
  height: 3em;
  padding: 0 1%;
  line-height: 3em;
  font-size: 1em;
  font-family: Oswald;
  overflow-y: hidden;
  border: solid 1px rgba(0,0,0,0.25);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  resize: none;
  color: black;
}

.add input[type="submit"] {
  display: block;
  float: left;
  width: 10%;
  height: 3em;
  padding: 0 1%;
  background: #2C2C2C;
    background: linear-gradient( #2C2C2C, #E5D600);
    background: -webkit-linear-gradient( #2C2C2C, #E5D600);
    background: -moz-linear-gradient( #2C2C2C, #E5D600);
    background: -ms-linear-gradient( #2C2C2C, #E5D600);
    background: -o-linear-gradient( #2C2C2C, #E5D600);
    background: linear-gradient( #2C2C2C, #E5D600);
  line-height: 3em;
  font-size: 1em;
  font-family: Oswald;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  text-shadow: -1px 0 1px rgba(255,255,255,0.25), 1px 0 1px rgba(255,255,255,0.25), 0 -1px 1px rgba(255,255,255,0.25), 0 1px 1px rgba(255,255,255,0.25);
  cursor: pointer;
  transition: all 0.6s;
}
.add input[type="submit"]:hover {
  background-color: rgba(52, 73, 94,1);
  color: rgba(236, 240, 241,1);
  text-shadow: none;
}
.tchatbox {
  display: flex;
  flex-direction: column;
  float: left;
  width: 100%;
  padding: 2.5% 1%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.no-tchat {
  display: block;
  float: left;
  width: 100%;
  padding: 25% 0;
  text-align: center;
  font-weight: bold;
  color: rgba(149, 165, 166,1);
}
.tchat {
  display: block;
  float: left;
  width: 50%;
  min-height: 8em;
  margin: 2.5% 1%;
  padding: 0 0 2.5% 0;
  border: solid 2px transparent;
  transition: all 0.6s;
}
.tchat:hover {
  border: solid 2px rgb(236, 240, 241);
}
.tchat-header {
  display: block;
  float: left;
  width: 100%;
  line-height: 2em;
  padding: 0 1%;
  font-family: Montserrat;
  font-size: 0.75em;
  background: #2C2C2C;
    background: linear-gradient( #2C2C2C, #E5D600);
    background: -webkit-linear-gradient( #2C2C2C, #E5D600);
    background: -moz-linear-gradient( #2C2C2C, #E5D600);
    background: -ms-linear-gradient( #2C2C2C, #E5D600);
    background: -o-linear-gradient( #2C2C2C, #E5D600);
    background: linear-gradient( #2C2C2C, #E5D600);
}
.tchat-name {
  display: block;
  float: left;
  width: 100%;
}
.tchat-admin {
  display: block;
  float: right;
  opacity: 0;
  transition: all 0.5s;
}
.edit-tchat {
  display: none;
  float: right;
  margin-right: 1%;
  background: none;
  border: none;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s;
  color: rgb(236, 240, 241);
}
.edit-tchat:hover {
  color: #E5D600;
}
.tchat:hover .tchat-stage, .tchat:hover .tchat-admin, .tchat-desc:focus + .edit-tchat {
  opacity: 1;
}
.tchat-desc {
  display: block;
  float: left;
  width: 100%;
  margin-top: 5%;
  padding: 1%;
  line-height: 1.5em;
  text-align: justify;
  font-family: Montserrat;
  color: rgb(236, 240, 241);
}
.delete-tchat {
  display: block;
  float: right;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}
.delete-tchat:hover {
  color: rgb(236, 240, 241);
}
.invisible {
  display: none;
}

li { color: white;}

  .toggle{
    display: block;
    background: #E5D600;
    background: linear-gradient( #E5D600, #2C2C2C);
    background: -webkit-linear-gradient( #E5D600, #2C2C2C);
    background: -moz-linear-gradient( #E5D600, #2C2C2C);
    background: -ms-linear-gradient( #E5D600, #2C2C2C);
    background: -o-linear-gradient( #E5D600, #2C2C2C);
    background: linear-gradient( #E5D600, #2C2C2C);
    border-style: none;
    color: black;
  } 
  .video{
    display:none;
  }